<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create-A-Robot</title>
  </head>
  <body>
    <form action="/robots" method="POST">
      name:<input type="text" name="name" /> <br />

      purpose:<input type="text" name="name" /> <br />
      weapons:<input type="text" name="name" /> <br />

      fuel:<input type="text" name="name" /> <br />
      personality:<input type="text" name="name" /> <br />
      <input type="submit" value="sumbit" />
    </form>
  </body>
</html>
